/* 添加标签的表单 */
.addlabel {
    width: 60%;
    margin: 20px auto !important;
}


/* 表格样式 */
table {
    width: 60% !important;
    margin: 0 auto !important;
}

/* label 标签的样式 */
.layui-form-label {
    text-align: center !important;
    padding: 9px 0px !important;
}